<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544716278-e513176f20b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);">
  <div class="container">
    <h1>Best prices</h1>
    <p>Your favorite book at the best stores at the lowest price.</p>
    <form class="form-inline">
      <input class="form-control mr-sm-2 col-8" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-red my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container">

  <div class="cards">
    <h1>Books</h1>
      <% @books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
        <%= cl_image_tag book.photo.key, height: 300, width: 400, crop: :fill if book.photo.attached? %>
     <% end %>

  <p class="flag-title">Book language</p>
  <div class="flag">
    <a href="#" class="es"> <%=image_tag "spain.png", size:"90"  %></a>
    <a href="#" class="pt"><%=image_tag "brazil.png", size:"90"  %></a>
    <a href="#" class="en"><%=image_tag "united-states.png", size:"90"  %></a>
    <a href="#" class="fr"><%=image_tag "france.png", size:"90"  %></a>
  </div>
</div>

<%# <div class="container">
  <div class="cards">
    <h1>Books</h1> %>
      <%# @books.each do |book| %>
        <%# <li></li> %>
        <%#= link_to book.title, book_path(book) %>
     <%# end %>
  <%# </div>
</div> %>
