<div class="container book-form">
  <h1> <%= @book.title %> </h1>
  <p> category: <%= @book.category %> </p>
  <p> rating: <%= @book.rating %> </p>
  <p> language: <%= @book.language %> </p>
  <p> author: <%= @book.author %> </p>

</div>
