<div class="container book-form my-5">
  <div class="card">
    <div class="row d-flex flex-wrap justify-content-center py-3">
      <div class=" col-12 col-md-3 d-flex justify-content-center">
        <%= cl_image_tag @book.photo.key, height: 350, width: 350, crop: :fit if @book.photo.attached? %>
      </div>

      <div class=" col-12 col-md-5 px-5">
        <div class="card-body justify-content">
          <h5 class="card-title"> <%= @book.title %> </h5>
          <p class="card-text"> <b> Language: </b> <%= @book.language %> </p>
          <p class="card-text"> <b> Author: </b> <%= @book.author %> </p>
          <p class="card-text description"> <b> Description: </b> <%= @book.description %> </p>
        </div>
      </div>

      <div class=" col-10 col-md-3 my-5 target w-75">
        <% if current_user && current_user.watch_lists.where(book: @book).empty? || !current_user %>
          <%= simple_form_for [@book, @watch_list] do |f| %>
            <b><%= f.input :target_price, label:"Price alert:", input_html: { min: '5.0' } %></b>
            <button type="submit" class="btn btn-red btn-target"> Add to list &#10084;</button>
          <% end %>
          <% else %>
           <p style="font-family: 'Caveat', cursive; font-weight: bold; font-size:30px;"> The book is already on your watch list! </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <% @book.deals.order(:price).each do |deal| %> 
    <%= link_to deal.url, target: "_blank", style: "text-decoration: none;" do %>
      <div class="card-product row d-flex flex-nowrap align-items-center my-3 col-12 mx-auto" >
        <div class="col-md-3 col-5">
          <%= cl_image_tag deal.photo.key, height: 200, width: 200, crop: :fit, class:"img-fluid" if deal.photo.attached? %>
        </div>
        <div class="col-8 col-md-5 row d-flex align-items-center">
          <span style="font-family: 'Roboto', sans-serif; font-size:15px;">starting price $ <%= deal.price %> </span>
        </div>
        <!------ BOTÃO ------->
        <div class="col-1 col-md-4 d-flex flex-shrink-1 my-5 align-items-center justify-content-end">
          <span class="btn btn-red d-none d-md-block"> Store</span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
